* {
    box-sizing: border-box;
}

html body {
    background-color: #094086;
    min-height: 100vh;
    color:white
}

input {
    background-color:#222222;
    border-radius: 5px;
    min-height: 35px;
    min-width: 40px;
}

form input{
    margin-top: 10px;
}


li {
    display: inline;
}



h1 {
    margin-left: 10px;
}

img {
    max-width: 40%;
    display: block;
    margin-top: 10px;
}

.submit-button {
    display:inline;
}